
  <div class="contact container-fluid">
    <h3 class="contactnew pt-10 text-center">︎<strong︎>Contact</strong>&nbsp;<i class="fas fa-envelope"></i></h3>
        <%= form_with(model: @contact, local: true) do |f| %>
          <% if @contact.errors.any? %>
          <div id="error_explanation">
            <ul><% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
                  <% end %>
            </ul>
          </div>
          <% end %>

        <table class="table table-hover">
          <tr class="form-group">
            <th><%= f.label "Your name" %></th>
            <th><%= f.text_field :name, placeholder: "お名前", class: "form-control" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label "Content" %></th>
            <th><%= f.text_area :content, size: "15x6", placeholder: "お問合せ内容を入力してください", class: "form-control" %></th>
          </tr>
          <br>
          <div class="btn">
          <tr>
            <th><%= f.button type: "submit", class: "btn btn-outline-dark" do %>
                  send <i class="fas fa-paper-plane"></i>
                <% end %>
            </th>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <th>
                <%= link_to "TOP", root_path, class: "btn btn-outline-dark" %>
            </th>
          </tr>
          </div>
        </table>
        <% end %>
  </div>




