
  <div class="container">
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-8'>
        <h3 class="my-4 mt-5">お問い合わせ︎</h3>
        <%= form_with(model: @contact, local: true) do |f| %>
          <% if @contact.errors.any? %>
          <div id="error_explanation">
            <ul><% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
                  <% end %>
            </ul>
          </div>
          <% end %>

        <table class="table table-hover">
          <tr class="form-group">
            <th><%= f.label "お名前" %></th>
            <th><%= f.text_field :name, placeholder: "お名前", class: "form-control" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label "お問合せ内容" %></th>
            <th><%= f.text_area :content, size: "15x6", placeholder: "お問合せ内容を入力してください", class: "form-control" %></th>
          </tr>
          <div class="send-btn-contents">
            <th><%= f.button type: "submit", class: "btn btn-outline-info" do %>
                  送信 <i class="fas fa-paper-plane"></i>
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%#= link_to "TOPへ", root_path, class:"register-red-btn", style:"background-color: #aaa" %>
                <%= link_to "TOPへ戻る", root_path, class: "btn btn-outline-info" %>
            </th>
          </div>
        </table>
        <% end %>
      </div>
    </div>
  </div>




