<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-4 mr-5">
      <%= render 'public/genres/genre', genres: @genres %>
      <br>
      <br>
      <%= render 'public/posts/postlink' %>
    </div>

    <div class="col-md-8 mt-5">
      <h4><%= @genre.name %>の空港&ensp;<i class="fas fa-plane"></i></h4>
      <table class="table table-hover table-inverse">
      <% @posts.each do |post| %>
        <tr>
          <td class="table-img">
            <% if post.image.attached? %>
              <%= link_to post_path(post) do %>
              <%= image_tag post.image, size: "200x120" %>
              <% end %>
            <% else %>
              <%= link_to post_path(post) do %>
              <%= image_tag 'no_image', size: "200x120" %>
              <% end %>
            <% end %>
          </td>
          <td class="table-txt">
            空港名：
            <%= link_to post_path(post) do %>
            <%= post.airport_name %>
            <% end %><br>
            <br>
            エリア：<%= post.genre.parent.name %>&emsp;✈&emsp;<%= post.genre.name %><br>
            <br>
            ユーザー名：<%= post.user.name %>
          </td>
          <td>
            コメント&ensp;<i class="fas fa-comment-dots"></i>&ensp;<%= link_to "#{post.comments.count}", post_path(post.id) %><br>
            <br>
            Bookmark&ensp;<i class="fas fa-bookmark"></i>&ensp;<%= link_to "#{post.bookmarks.count}", post_path(post.id) %>
          </td>
        </tr>
      <% end %>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>
