  <%= form_with model: @post, url: post_path(@post), method: :patch, local: true do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4 class="my-4 mt-5"> &emsp;編集ページ&nbsp;<i class="fas fa-edit"></i></h4>
        <div class="field text-center mt-4">
          <%= f.label :"イメージ" %>
          <%= f.file_field :image, class: "form-control", accept: "image/*" %>
        </div>
        <div class="field text-center mt-4">
          <%= f.label :"空港名", class: "mr-3" %>
          <%= f.text_field :airport_name, class: "form-control" %>
        </div>
        <div class="field text-center mt-4">
          <%= label_tag 'エリア選択' %>
          <select id="area_genre_ids" class="form-control">
            <option value="">選択してください</option>
            <% @genres.each do |genre| %>
              <option value="<%= genre.id %>"><%= genre.name %></option>
            <% end %>
          </select>
        </div>
        <div class="field text-center mt-4">
          <%= label_tag 'カントリー選択' %>
          <p id="message" class="d-block">エリアを選択してください</p>
          <select class="d-none form-control" name="post[genre_id]" id="post_genre_id"></select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="field text-center mt-4">
          <%= f.label :"営業時間", class: "mr-3" %>
          <%= f.text_field :open_hour, class: "form-control" %>
        </div>
        <div class="field text-center mt-4">
          <%= f.label :"仮眠スペース", class: "mr-3" %>
          <%= f.text_area :sleep_space, class: "form-control" %>
        </div>
        <div class="field text-center mt-4">
          <%= f.label :"治安", class: "mr-3" %>
          <%= f.text_field :security, class: "form-control"%>
        </div>
        <div class="field text-center mt-4">
          <%= f.label :"ＵＲＬ", class: "mr-3" %>
          <%= f.text_field :url, class: "form-control" %>
        </div>
        <div class="field text-center mt-4">
          <%= f.label :"その他", class: "mr-3" %>
          <%= f.text_area :others, size: "15x6", class: "form-control" %>
        </div>
        <div class="actions text-center mt-4">
          <%= f.button type: "submit", class: "btn btn-info" do %>
            変更を保存 <i class="fas fa-paper-plane"></i>
          <% end %>
          &nbsp;
          &nbsp;
          <%= render 'layouts/back' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

<script>
 $(document).ready(function() {
  $('#area_genre_ids').change(function() {

   let area_id = $(this).val(); // 自分自身のvalを取得する

   // area_idが選択されていなかったら孫セレクトボックスを消して処理中断
   if (area_id === '') {
     $('#message').addClass('d-block').removeClass('d-none');
     $('#post_genre_id').addClass('d-none');
     return false;
   }

   $.ajax('/get_genre/grandchildren', {
     type: 'get',
     data: {children_id: area_id},
     dataType: 'json'
   })
   // 取得に成功
   .done(function(countries) {
     $('#message').removeClass('d-block').addClass('d-none');
     $('#post_genre_id').removeClass('d-none'); // エリアが選ばれたらセレクトボックス出現
     $('#post_genre_id > option').remove(); // 一旦孫のセレクトボックスをクリア
     // 孫セレクトボックスに国名を順次ループで追加
     countries.forEach(function(country) {
       $('#post_genre_id').append($('<option>').html(country.name).val(country.id))
     })
   })
   // 取得に失敗
   .fail(function() {
     alert('通信に失敗しました。時間をおいてサイド実行してください。');
   })

  })
 })
</script>