 <div class="category-form">
  <%= label_tag 'Select' %>
  <%= select_tag 'parent_id', options_for_select(@genre_parent_array), id: 'parent-genre', class: 'form-control' %>
    <%= collection_select(:post, :genre_ids, Genre.all, :id, :name) do |children| %>
    <% end %>
 </div>




 <!--ここにジャンル検索実装したい-->


  <!---->
  <!--<%#= cb.label { cb.check_box + ' ' + cb.text } %>-->
  <!--<br>-->
  <!--<%# end %>-->

  <% @post.genres.each do |genre| %>
    <%= genre.name %>
    <%= label_tag 'ジャンル' %>
    <%= select_tag 'parent_id', options_for_select(@genre_parent_array), id: 'parent-genre', class: 'form-control' %>
  <% end %>














<!--<%#= form_with model: @post, local: true do |f| %>-->
  <!--user名反映させる-->

<!--  <%#= f.label :title,'空港名' %>-->
<!--  <br>-->
<!--  <%#= f.text_field :airport_name, class:'form-control' %>-->
<!--  <br>-->
<!--  <%#= f.label :title,'営業時間' %>-->
<!--  <br>-->
<!--  <%#= f.text_field :open_hour, class:'form-control' %>-->
<!--  <br>-->

<!--  <%#= f.label :body, '仮眠スペース' %>-->
<!--  <br>-->
<!--  <%#= f.text_area :body, class:'form-control' %>-->
<!--  <br>-->

<!--  <%#= f.label :title,'治安' %>-->
<!--  <br>-->
<!--  <%#= f.text_field :security, class:'form-control' %>-->
<!--  <br>-->

<!--  <%#= f.label :title,'URL' %>-->
<!--  <br>-->
<!--  <%#= f.text_field :url, class:'form-control' %>-->
<!--  <br>-->

<!--  <%#= f.label :body, 'その他' %>-->
<!--  <br>-->
<!--  <%#= f.text_area :others, class:'form-control' %>-->
<!--  <br>-->

<!--  <%#= f.submit 'Have a safe flight !', class: 'btn btn-primary btn-block' %>-->
<!--<%# end %>-->

  <!--.col-xs-9-->
  <!--  table.table-->
  <!--    thead-->
  <!--      tr-->
  <!--        th-->
  <!--          | 投稿者-->
  <!--        th-->
  <!--          | タイトル-->
  <!--        th-->
  <!--          | 本文-->
  <!--        th-->

  <!--    tbody.new_book-->
  <!--      - @books.each do |book|-->
  <!--        tr-->
  <!--          td-->
  <!--            = link_to book.user  do-->
  <!--              = book.user.name-->
  <!--          td-->
  <!--            = link_to book.title, book_path(book)-->
  <!--          td-->
  <!--            = book.body-->
  <!--          td-->
  <!--            -if book.user == current_user-->
  <!--              = link_to '削除', book, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-sm btn-danger'-->