
<div class="container-fluid">
 <div class="row">
  <div class="col-md-2 mt-4 mr-5">
    <%= render 'public/genres/genre', genres: @genres %>
  </div>

  <!--airport一覧-->
  <div class="col-md-9 mt-4">
   <%= render 'public/shared/flash' %>
   <% @posts.each do |post| %>
    <h5><%= post.genre.name %>の空港&ensp;<i class="fas fa-plane"></i></h5>
     <table class="table table-hover table-inverse">
      <tr>
        <td class="table-img">
         <% if post.image.attached? %>
          <%= link_to post_path(post) do %>
          <%= image_tag post.image, size: "200x120" %>
          <% end %>
         <% else %>
          <%= link_to post_path(post) do %>
          <%= image_tag 'no_image', size: "200x120" %>
          <% end %>
         <% end %>
        </td>
        <td class="table-txt">
         空港名：
         <%= link_to post_path(post) do %>
         <%= post.airport_name %>
         <% end %><br>
         <br>
         エリア：<%= post.genre.parent.name %>&emsp;✈&emsp;<%= post.genre.name %><br>
         <br>
         ユーザー名：<%= post.user.name %>
         <td>
            コメント&ensp;<i class="fas fa-comment-dots"></i>&ensp;<%= link_to "#{post.comments.count}", post_path(post.id) %><br>
            <br>
            Bookmark&ensp;<i class="fas fa-bookmark"></i>&ensp;<%= link_to "#{post.bookmarks.count}", post_path(post.id) %>
          </td>
        </tr>
     </table>
    <% end %>
    <div class="back text-left mb-3">
        <%= render 'layouts/back' %>
    </div>
    <%= paginate @posts %>
   </div>
  </div>
</div>

