<div class="container">
<%= render 'public/shared/flash' %>
<%= render 'public/posts/errors', post: @post %>
  <%= form_with model: @post, local: true do |f| %>

    <div class="row">
      <div class="col-md-6 mt-4">
        <%= label_tag 'エリア選択' %>
        <br>
        <select id="area_genre_ids" class="form-control">
          <option value="">選択してください</option>
          <% @genres.each do |genre| %>
            <option value="<%= genre.id %>"><%= genre.name %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-6 mt-4">
        <%= label_tag 'カントリー選択' %>
        <p id="message" class="d-block">エリアを選択してください</p>
        <select class="d-none form-control" name="post[genre_id]" id="post_genre_id"></select>
      </div>
    </div>
    <br>
    <%= f.label :airport_name,'空港名' %>
    <%= f.text_field :airport_name, placeholder: "カタカナでご記入ください：例 ヒースロー空港", class:'form-control' %>
    <br>
    <%= f.label :'イメージ' %>
    <br>
    <%= f.file_field :image, accept: "image/*" %>
    <br>
    <br>
    <%= f.label :open_hour,'営業時間' %>
    <br>
    <%= f.text_field :open_hour, placeholder: "24時間OPEN", class:'form-control' %>
    <br>

    <%= f.label :sleep_space, '仮眠スペース' %>
    <br>
    <%= f.text_area :sleep_space, placeholder: "空港内にカプセルホテルあり", class:'form-control' %>
    <br>

    <%= f.label :security, '治安' %>
    <br>
    <%= f.text_field :security, placeholder: "4.0点/5.0点中、スリに注意",class:'form-control' %>
    <br>

    <%= f.label :url,'URL' %>
    <br>
    <%= f.text_field :url, placeholder: "空港サイトのURLなどにお使いください", class:'form-control' %>
    <br>

    <%= f.label :others, 'その他' %>
    <br>
    <%= f.text_area :others, size: "80x10", placeholder: "SHOP情報やおすすめ情報など", class:'form-control' %>
    <br>

    <%= f.submit 'Have a safe flight !', class: 'btn btn-info btn-block' %>
  <% end %>
</div>

<script>
 $(document).ready(function() {
  $('#area_genre_ids').change(function() {

   let area_id = $(this).val(); // 自分自身のvalを取得する

   // area_idが選択されていなかったら孫セレクトボックスを消して処理中断
   if (area_id === '') {
     $('#message').addClass('d-block').removeClass('d-none');
     $('#post_genre_id').addClass('d-none');
     return false;
   }

   $.ajax('/get_genre/grandchildren', {
     type: 'get',
     data: {children_id: area_id},
     dataType: 'json'
   })
   // 取得に成功
   .done(function(countries) {
     $('#message').removeClass('d-block').addClass('d-none');
     $('#post_genre_id').removeClass('d-none'); // エリアが選ばれたらセレクトボックス出現
     $('#post_genre_id > option').remove(); // 一旦孫のセレクトボックスをクリア
     // 孫セレクトボックスに国名を順次ループで追加
     countries.forEach(function(country) {
       $('#post_genre_id').append($('<option>').html(country.name).val(country.id))
     })
   })
   // 取得に失敗
   .fail(function() {
     alert('通信に失敗しました。時間をおいてサイド実行してください。');
   })

  })
 })
</script>