<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-5 ml-2 mr-5">
      <!--画像-->
      <div class="img mb-10">
      <% if @post.image.attached? %>
       <%= image_tag @post.image, size: "360x270" %>
      <% else %>
       <%= image_tag 'no_image', size: "360x270" %>
      <% end %>
      </div>
    </div>
    <!--空港情報-->
    <div class="col-md-6 mt-5 ml-2 text-center">
    <%#= stylesheet_link_tag 'public/posts' %>
      <div class="info">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th><i class="fas fa-info-circle fa-lg"></i>︎</th>
              <th scope="col">Airport information</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">空港名</th>
                <td><%= @post.airport_name %></td>
              </tr>
              <tr>
                <th scope="row">エリア</th>
                <td><%= @post.genre.parent.name %>&emsp;✈&emsp;<%= @post.genre.name %></td>
              </tr>
              <tr>
                <th scope="row">営業時間</th>
                <td><%= safe_join(@post.open_hour.split("\n"),tag(:br)) %></td>
              </tr>
              <tr>
                <th scope="row">仮眠<br>スペース</th>
                <td><%= safe_join(@post.sleep_space.split("\n"),tag(:br)) %></td>
              </tr>
              <tr>
                <th scope="row">治安</th>
                <td><%= safe_join(@post.security.split("\n"),tag(:br)) %></td>
              </tr>
              <tr>
                <th scope="row">URL</th>
                <td><% if @post.url.nil? %>
                      <%= @post.url %>
                    <% else %>
                      <%= Rinku.auto_link(@post.url, :all, 'target="_blank"').html_safe %>
                    <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row">その他</th>
                <td><%= safe_join(@post.others.split("\n"),tag(:br)) %></td>
              </tr>
              <tr>
                <th scope="row">ユーザー</th>
                <td><%= @post.user.name %><br><%= l @post.created_at %></td>
              </tr>
              <tr>
              <% if @post.user == current_user %>
                <th scope="row"></th>
                <td>
                  <%= link_to "投稿を編集", edit_post_path, class:"btn btn-info" %>&nbsp;&emsp;<i class="fas fa-globe fa-lg"></i>&emsp;
                  <%= link_to "投稿を削除", post_path(@post.id), class:"btn btn-outline-dark", method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </td>
              <% end %>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-2 mt-5 ml-4 text-center">
      <div class="mb-10" style="color: naby;">
        <div id="bookmarks_buttons_<%= @post.id %>">
          <%= render "public/bookmarks/bookmarks", post: @post %>
        </div>
      </div>
        <br>
        <br>
      <div >
        <h5 class style="comment">コメント件数：<%= @post.comments.count %></h5>
        <br>
          <!--部分テンプレート：コメントフォーム-->
          <%= render 'public/comments/form', post: @post, comment: @comment %>
          <br>
          <br>
          <!--部分テンプレート：コメント一覧部分-->
          <%= render 'public/comments/index', post: @post %>
      </div>
    </div>
  </div>
</div>





