<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <!--部分テンプレート入れる-->
      <%#= render ' %>
    </div>

    <!--画像-->
    <div class="col-2 ml-3">
    <%# @posts.each do |post| %>
      <% if @post.image.attached? %>
       <%= image_tag @post.image, size: "200x120" %>
      <% else %>
       <%= image_tag 'no_image', size: "200x120" %>
      <% end %>
    </div>

    <!--空港情報-->
    <div class=" col-5 ml-5">
      <h4 class="text-center"><strong>空港名：<%= @post.airport_name %></strong></h4>
      <br>
      <p class="text-center">カテゴリー：<%= @post.genre.parent.name %>>✈︎><%= @post.genre.name %></p>
      <br>
      <p class="text-center">営業時間：<%= @post.open_hour %></p>
      <br>
      <p class="text-center">仮眠スペース：<%= @post.sleep_space %></p>
      <br>
      <p class="text-center">治安：<%= @post.security %></p>
      <br>
      <p class="text-center">URL：<%= @post.url %></p>
      <br>
      <p class="text-center">その他：<%= @post.others %></p>
      <br>
      <h5 class="text-center"><strong>ユーザー名：<%= @post.user.name %></strong></h5>
    </div>
  </div>
</div>

