<h2>世界地図とジャンル載せる</h2>

<% @parents.each do |parent| %>
  <!-- 世界 -->
- <%= parent.name %> <BR>
    <!-- 地域 -->
    <% parent.children.each do |child| %>
        * <%= child.name %> <BR>
        <!-- 國 -->
        <% child.children.each do |gc| %>
            > <%= gc.name %> <BR>
        <% end %>
    <% end %>
<% end %>

<% korea = @parents[0].children[1].children[4] %>
子：<%= korea.name %><BR>
親：<%= korea.parent.name %><BR>
祖：<%= korea.parent.parent.name %><BR>

