
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 max-auto mt-5 text-center">
        <h2><i class="fas fa-globe"></i>&nbsp;Welcome!!</h2>
        <p>&nbsp;</p>
        <h4>Sign up here&nbsp;<i class="fas fa-passport"></i></h4>
          <%= form_with model: @user, url: user_registration_path do |f| %>
          <!--<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
          <%= render "public/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :"user name" %><br />
              <%= f.text_field :name %></td>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "新規登録", class: "btn btn-info" %>
            </div>
          <% end %>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm sign_in", method: :post %>
        <%#= render "public/shared/links" %>
      <div class="col-md-1"></div>
      </div>
    </div>
  </div>