  <div class="container-fluid">
    <div class="d-flex flex-sm-row flex-column-reverse">
      <div class="left-bar col-md-3">
        <%= render 'public/genres/genre', genres: @genres %>
        <br>
        <br>
        <%= render 'public/posts/postlink' %>
      </div>

      <div class="country col-md-8">
        <h4><i class="fas fa-bookmark"></i>&ensp;Bookmark一覧</h4>
        <% @bookmark_posts.each do |post| %>
        <table class="table table-hover">
          <tr>
            <td class="table-img">
              <% if post.image.attached? %>
                <%= link_to post_path(post) do %>
                <%= image_tag post.image, size: "200x120" %>
                <% end %>
              <% else %>
                <%= link_to post_path(post) do %>
                <%= image_tag asset_path('no.jpg'), size: "200x120" %>
                <% end %>
              <% end %>
            </td>
            <td class="table-txt">
              空港名：
              <%= link_to post_path(post) do %>
              <%= post.airport_name %>
              <% end %><br>
              <br>
              カントリー : <%= post.genre.name %><br>
              <br>
              ユーザー名：<%= post.user.name %>
            </td>
          </tr>
        </table>
        <% end %>
        <div class="back mr-4">
          <%= render 'layouts/back' %>
        </div>
      </div>
    <%= paginate @posts %>
    </div>
  </div>

  <style>
    @media (max-width: 487px) {
      table {
        width: 100%;
        display: contents;
      }
       td {
        display: block;
        width: 100%;

       col-md-8 {
        display: contents;
      }
    }
  </style>


