
  <div class="mypage container-fluid">
    <%= flash[:notice] %>
    <h3 class="usershow pt-10 text-center">︎<strong>My pag︎︎e︎</strong></h3>
      <table class="table table-hover">
      <% if @user == current_user %>
        <thead>
          <th>Information</th>
          <th><% if @user.name != "guestuser" %>
              <%= link_to 'Edit', mypage_edit_path, class: "btn btn-sm btn-dark" %>
              <% end %>
          </th>
        </thead>
        <tbody>
          <tr>
            <th>UserID</th>
            <th><%= @user.id %></th>
          </tr>
          <tr>
            <th>Name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>Mailaddress</th>
            <th><%= @user.email %></th>
          </tr>
          <tr>
            <th><%= @user.name %>さんのPost&ensp;/&ensp;Bookmark </th>
            <th><%= link_to "Click here" , bookmarks_user_path(@user), class: "btn btn-sm btn-dark" %></th>
          </tr>
          <tr>
            <th><% if @user.name != "guestuser" %>
                <%= link_to "退会する" , unsubscribe_path, class: 'btn btn-outline-dark' %>
                <% end %>
            </th>
            <th> <%= render 'layouts/back' %></th>
          </tr>
        </tbody>
      </table>
      <% end %>
  </div>



