  <nav class="navbar navbar-expand-lg text-light navbar-light bg-dark">
  <%# 共通表示 %>
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <a class="navbar-brand" href="/">
      <%= link_to root_path, style:"font-size: 40px;",  class:"text-light" do %>
        <i class="fas fa-globe-americas"></i>
      <% end %>
      <div class="user">
      <% if user_signed_in? %>
        &nbsp;Welcome ✈ <%= current_user.name %>さん
      </div>
      <% end %>
    </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <!--ユーザーがログインしている場合-->
      <% if user_signed_in? %>

          <!--マイページへ-->
          <li class="nav-item">
            <%= link_to user_mypage_path(current_user.id), class:"nav-link text-light" do %>
              My Page  <i class="fas fa-passport"></i>
            <% end %>
          </li>

           <!--logout-->
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
              Take off  <i class="fas fa-plane-departure"></i>
            <% end %>
          </li>

          <!--contactページへ-->
          <li class="nav-item">
            <%= link_to new_contact_path(user_id: current_user.id), class: 'nav-link text-light' do %>
              Contact  <i class="fas fa-mail-bulk"></i>
            <% end %>
          </li>

      <!--ユーザーがログインしていない場合-->
      <% else %>
        <!--Aboutページ-->
          <li class="nav-item">
            <%= link_to  about_path, class: 'nav-link text-light' do %>
              About <i class="fas fa-suitcase-rolling"></i>
            <% end %>
          </li>

          <!--login-->
          <li class="nav-item">
            <%= link_to new_user_session_path, class:"nav-link text-light" do %>
              Login <i class="fas fa-plane-arrival"></i>
            <% end %>
          </li>

          <!--contactページへ-->
          <li class="nav-item">
            <%= link_to new_contact_path, class: 'nav-link text-light' do %>
              Contact <i class="fas fa-mail-bulk"></i>
            <% end %>
          </li>
      </ul>
      <% end %>
      <!--検索フォーム-->
      <div class="col text-right">
        <%= render 'public/posts/search' %>
      </div>
    </div>
  </nav>

<!---inline my-2 my-lg-0-->
